@import "header.css";
@import "re-use.css";
@import "aside-card.css";
@import "blog-left-section.css";
.main-blog-section {
    margin-top: 20px;
}

/* .main-blog {
    display: flex;
    flex-direction: row;
} */




