@import "header.css";
@import "cards.css";
@import "re-use.css";

.default-padding {
    padding-top: 15px;
}
/* MAIN SECTION */

.main-section {
    background-color: #788694;
    color: #fff;
    width: 100%;
}

.page-title {
    text-align: center;
}
@media(min-width: 530px) {
    .page-title {
        display: flex;
        justify-content: space-between;
    }
}
.title {
    font-style: italic;
    font-weight: 900;
    text-decoration: underline;
    quotes: """ """;
    margin-top: 15px;
}
.title::before {
    content: open-quote;
}
.title::after {
    content: close-quote;
}
.btn {
    padding: 5px 84px;
    color: #fff;
    font-size: 19px;
    background: #692a26;
    border-radius: 2px;
    text-decoration: none;
    cursor: pointer;
    border: none;
}

.pagination {
    display: flex;
    justify-content: space-around;
    border-top: 1px solid red;
    border-bottom: 1px solid red;
}
.pagination-next {
    color: white;
}
@media(min-width: 530px) {
    .pagination {
        display: flex;
        justify-content: space-between;
        border-top: 1px solid red;
        border-bottom: 1px solid red;
        line-height: 2;
    }
}

/* Footer */

.footer {
    background: #9dafc2;
    padding: 15px;
}
.footer-flex {
    display: flex;
    justify-content: space-between;
}



